/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: Arial, Helvetica, sans-serif;
}

/* COMMON */

.font-size-8em{
    font-size: .8em;
}

.container{
    width: 80%;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 2em 0;
}

.container-2{
    width: 80%;
    margin: 2em auto;
}

/* tag sconto e sostenibilità */
.tag-dsout-sost{
    font-size: 12px;
    font-weight: bold;
    color: #ffffff;
    top: 80%;
}

.sost-config{
    color: #ffffff;
    position: absolute;
    display: inline-block;
    background-color: #00875a;
    padding: .3em .3em;

}

.discount{
    position: absolute;
    display: inline-block;
    background-color: #eb0037;
    left: 0;
    padding: .3em .3em;
}

.sost-with-dsout{
    left: 3.2em;
}


/* BODY */

body{
    background-color: lightgrey;
}

.product-row{
    margin: 2em auto;
    width: 96%;
}

/* PRODOTTO */
.product{
    vertical-align: top;
    position: relative;
    display: inline-block;
    width: calc((100%/3) - 11px);
    margin: 0 4px;
}

.product img{
    width: 100%;
}

.product .heart{
    font-size: 1.3em;
    position: absolute;
    display: inline-block;
    background-color: #ffffff;
    top: 10px;
    right: 0;
    padding: .2em .5em;
}


/* descrizione prodotto */
.product-title{
    font-weight: bold;
    font-size: .9em;
}

/* prezzo */
.new-price{
    color: red;
    font-weight: bold;
}

.old-price{
    font-style: oblique;
    text-decoration: line-through;
}

/* HOVER */
/* image change  */
.product:hover .product-img1{
    display: none;
}

.product:hover .product-img1b{
    cursor: pointer;
    display: inline-block;
}

.product:hover .heart{
    color: red;
}

.product-img1b{
    display: none;
}



